{
  "semi": true,
  "singleQuote": true,
  "printWidth": 88,
  "overrides": [
    {
      "files": ["*.css"],
      "options": {
        "tabWidth": 2,
        "singleQuote": true,
        "useTabs": false
      }
    }
  ]
}
