.blue {
  color: var(--blue);
}

.grey {
  color: var(--gray);
}

.form {
  display: flex;
  justify-content: center;
}

.searchBar:global(.form-control) {
  margin-right: 5px;
  max-width: 400px;
  width: 40vw;
}

.searchBar input {
  padding-left: 36px;
}

.searchContainer {
  align-content: center;
  margin: 15px auto;
}

.text {
  font-size: 3rem;
  margin-bottom: 15px;
}

.whereTo {
  align-items: center;
  text-align: center;
}

.barContainer {
  font-family: 'Arial', 'FontAwesome';
  position: relative;
  width: 500px;
}

.searchIcon {
  color: var(--gray);
  left: 26px;
  position: absolute;
  top: 12px;
  z-index: 10;
}

mark {
  background: none;
  font-weight: 700;
}
