.map {
  border: 0;
  height: 85vh;
  margin-top: 14px;
  width: 100%;
}

.infoWindowName {
  color: #383838;
}

.infoWindowImg {
  height: 200px;
}

/* Medium devices */
@media (max-width: 1600px) {
  .infoWindowName {
    font-size: 1.2rem;
  }
}
