.container {
  height: 42vh;
  margin: auto;
  margin-top: 48px;
  width: 80%;
  overflow-y: scroll;
}

.header {
  color: var(--gray);
  margin-bottom: 24px;
  text-align: left;
}

.headerIcon {
  color: var(--yellow);
  margin: 0 16px;
  opacity: 0.8;
}

.icon {
  color: black;
  margin: 8px;
  opacity: 0.5;
}

.icon:hover {
  color: var(--blue);
  cursor: pointer;
}

.iconContainer {
  align-items: center;
  display: flex;
  height: 100%;
  position: absolute;
  right: 5px;
  top: 0;
  z-index: 1;
}

.listItem {
  align-items: center;
  display: flex;
  font-weight: 500;
  justify-content: space-between;
  height: 60px;
}

.tripContainer {
  border-radius: 10px;
  box-shadow: 0 1px 2px #c7c7c7;
  margin-bottom: 16px;
  position: relative;
  overflow: hidden;
}
