.container {
  margin: auto;
  margin-top: 48px;
  width: 80%;
}

.header {
  color: var(--gray);
  margin-bottom: 12px;
}

.headerIcon {
  color: var(--blue);
  margin-right: 16px;
  opacity: 0.8;
}

.icon {
  color: black;
  margin: 8px;
  opacity: 0.5;
}

.icon:hover {
  color: var(--blue);
  cursor: pointer;
}

.iconContainer {
  align-items: center;
  display: flex;
  height: 100%;
  position: absolute;
  right: 5px;
  top: 0;
  z-index: 1;
}

.listItem {
  display: flex;
  justify-content: space-between;
}

.tripContainer {
  position: relative;
}
