.locationCardContainer {
  color: white;
  margin: 16px;
  max-width: 600px;
}

.locationCard,
.locationImg {
  height: 16rem;
  object-fit: cover;
}

.overlay {
  background-color: #303030;
  opacity: 0.3;
}

.cardTxt {
  padding: 4rem 2rem;
}

.arrows {
  color: #616161;
  font-size: 2rem;
  margin: auto;
}

.upArrow,
.downArrow {
  opacity: 0.5;
}

.upArrow:hover,
.downArrow:hover {
  cursor: pointer;
  opacity: 1;
}
