.locationCardContainer {
  color: white;
  margin-bottom: 16px;
}

.locationCard,
.locationImg {
  height: 230px;
  object-fit: cover;
}

.overlay {
  background-color: #303030;
  opacity: 0.55;
}

.arrows {
  color: var(--gray);
  font-size: 2rem;
  margin: auto 0;
  padding: 0;
  opacity: 0;
}

.locationCardContainer:hover .overlay {
  opacity: 0.7;
}

.locationCardContainer:hover .arrows {
  opacity: 0.6;
}

.locationName {
  margin-top: 6%;
}

/* Medium devices */
@media (max-width: 1600px) {
  .locationCard,
  .locationImg {
    height: 22vh;
  }

  .locationName {
    font-size: 1.2rem;
  }
}
