.locationCardContainer {
  color: white;
  margin-bottom: 16px;
  max-width: 600px;
}

.locationCard,
.locationImg {
  height: 14rem;
  object-fit: cover;
}

.overlay {
  background-color: #303030;
  opacity: 0.55;
}

.cardTxt {
  padding: 4rem 2rem;
}

.arrows {
  color: var(--gray);
  font-size: 2rem;
  margin: auto 0;
  padding: 0;
  opacity: 0;
}

.locationCardContainer:hover .overlay {
  opacity: 0.7;
}

.locationCardContainer:hover .arrows {
  opacity: 0.6;
}
