.optimizedBtnContainer {
  display: flex;
  justify-content: center;
  margin: 10px auto;
  padding-right: 62.5px;
}

.optimizedTxt {
  color: #6e6e6e;
  margin: 16px auto;
  text-align: center;
}

.optimizedIcon {
  color: #3cb05b;
  margin: 0 6px;
}
