#backToSearchButton {
  min-height: 50px;
  min-width: 200px;
  padding: 10px;
}

#backToSearchButton:hover {
  opacity: 0.5;
}

#routeButton {
  min-height: 50px;
  min-width: 200px;
  padding: 10px;
}

#routeButton:hover {
  opacity: 0.5;
}
