.exploreContainer {
  max-width: 2000px;
}

.attractionContainer {
  height: 13vw;
  margin: 10px;
}

.attractionContainer:hover {
  cursor: pointer;
}

.attractionImagesContainer {
  display: flex;
  flex-wrap: wrap;
  height: 75vh;
  justify-content: center;
  max-width: 1000px;
  overflow-y: auto;
}

.attraction {
  height: 13vw;
  object-fit: cover;
  width: 13vw;
}

.check {
  color: whitesmoke;
  font-size: 56px;
  margin: 40%;
  opacity: 0.8;
}

.routeButton {
  align-items: center;
  display: flex;
  height: 60px;
  justify-content: center;
  margin: 20px auto;
  width: 200px;
}

.fillerText {
  margin: auto;
}

.overlay {
  background-color: #303030;
  opacity: 0;
}

.attractionContainer:hover .overlay {
  opacity: 0.3;
}

.selectedImage .overlay {
  opacity: 0.4;
}

.mapContainer {
  height: 100%;
  position: relative;
}